{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>Player list</title>
</head>

{% load static %}

<body>
    <div class="team-button-container">
        {% for team in club.teams %}
            <button class="choice_button" onclick="loadTeamPlayers('{{ team.id }}', this)">{{ team }}</button>
        {% endfor %}
    </div>
    <div class="player-container">

    </div>

    <script>
        function loadTeamPlayers(teamId, buttonEl) {
            document.querySelectorAll('.team-button-container button').forEach(btn => btn.classList.remove('active'));
            buttonEl.classList.add('active');

            fetch('/api/team-players/?team_id=' + teamId)
                .then(response => response.json())
                .then(data => {
                    const playerContainer = document.querySelector('.player-container');
                    playerContainer.innerHTML = '';

                    if (! data.players || data.players.length == 0) {
                        playerContainer.innerHTML = 'No players found';
                        return;
                    }

                    const table = document.createElement('table');
                    table.classList.add('players-table');
                    const headerRow = document.createElement('tr');
                    headerRow.innerHTML = `
                        <th>Player</th>
                        <th>Minutes</th>
                        <th>Appearances</th>
                        <th>Callings</th>
                        <th>Matches</th>
                    `;
                    table.appendChild(headerRow);

                    data.players.sort((a, b) => b.minutes - a.minutes);
                    data.players.forEach(player => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${player.firstname} ${player.lastname}</td>
                            <td>${player.minutes}</td>
                            <td>${player.apps}</td>
                            <td>${player.callings}</td>
                        `;
                        table.appendChild(row);
                    });
                    playerContainer.appendChild(table);
                });
        }
    </script>
    
</body>
</html>