{% load static %}

<div class="player-container player-container-stats"></div>

<script>
function updateUIstats() {
    fetch('/api/team-players/?team_id=' + teamId + '&active_leagues=' + activeLeagues.join(','))
        .then(response => response.json())
        .then(data => {
            const playerContainer = document.querySelector('.player-container-stats');
            playerContainer.innerHTML = '';

            if (! data.players || data.players.length == 0) {
                playerContainer.innerHTML = 'No players found';
                return;
            }

            const table = document.createElement('table');
            table.classList.add('player-table');

            const headerRow = document.createElement('tr');
            headerRow.innerHTML = `
                <th>Zawodnik</th>
                <th>Bramki</th>
                <th>Bramki na 90'</th>
            `;
            table.appendChild(headerRow);

            data.players.sort((a, b) => b.callings - a.callings);
            data.players.sort((a, b) => b.minutes - a.minutes);
            data.players.forEach(player => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td><button>${player.firstname} ${player.lastname}</button></td>
                    <td><cell>${player.goals}'</cell></td>
                    <td><cell>${player.goals_per_90}</cell></td>
                `;

                row.classList.add('player-row');
                table.appendChild(row);
            });
            playerContainer.appendChild(table);
        });
}
</script>