@import url('table.css');

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-VariableFont_wght.ttf') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

:root {
    font-size: 16px;
}

body {
    background-color: black;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

button.active {
    font-weight: bold;
    background: #ddd;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

.container {
    width: 90%;
    max-width: 1000px;
}

.card {
    background-color: rgb(29, 29, 29);
    border-radius: 1rem;
    color: white;
    padding: 1rem;
}

.nav-link {
    margin-bottom: 1rem;
}
.nav-link a {
    text-decoration: none;
    color: #aaa;
    transition: all 0.1s ease-in-out;
}

.nav-link a:hover {
    color: #c90000;
}

a button {
    transition: all 0.1s ease-in-out;
}

a:hover button {
    color: #c90000;
}

.state-button {
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid #aaa;
    color: #aaa;
    transition: all 0.1s ease-in-out;
    border-width: 2px;
}

.state-button:hover {
    /* color: #c90000;
    border-color: #c90000; */
    cursor: pointer;
}

.state-button-active {
    background-color: #c90000;
    color: white;
    border-color: white;
}

.state-button-active:hover {
    color: white;
    border-color: white;
}

.tab-container {
    display: none;
}

.tab-container-active {
    display: block;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}

/* .player-table {
    width: 100%;
    border-collapse: collapse;
}

.player-table td,
.player-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.player-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.player-table tr:nth-child(odd) {
    background-color: white;
}

.player-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #bf110b;
    color: white;
}

.player-table tr {
    transition: all 0.1s ease-in-out;
}

.player-table tr:hover {
    background-color: #ddd;
} */
