@import url('table.css');

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-VariableFont_wght.ttf') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

:root {
    font-size: 16px;
}

body {
    background-color: black;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

button.active {
    font-weight: bold;
    background: #ddd;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

.container {
    width: 90%;
    max-width: 1000px;
}

.card {
    background-color: rgb(29, 29, 29);
    border-radius: 1rem;
    color: white;
    padding: 1rem;
}

/* .header-card {
    padding-bottom: 0.2rem;
} */

.nav-link {
    margin-bottom: 1rem;
}
.nav-link a {
    text-decoration: none;
    color: #aaa;
    transition: all 0.1s ease-in-out;
}

.nav-link a:hover {
    color: #c90000;
}

a button {
    transition: all 0.1s ease-in-out;
}

a:hover button {
    color: #c90000;
}

.state-button {
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid #aaa;
    color: #aaa;
    transition: all 0.1s ease-in-out;
    border-width: 2px;
    margin: 0.1rem;
}

.state-button:hover {
    /* color: #c90000;
    border-color: #c90000; */
    cursor: pointer;
}

.state-button-active {
    background-color: #c90000;
    color: white;
    border-color: white;
}

.state-button-active:hover {
    color: white;
    border-color: white;
}

.title-container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.title-container .title {
    min-width: 18rem;
}

.title-container .league-choice-container {
    min-width: 10rem;
}

@media (max-width: 40rem) { /* 18rem + 10rem + 1rem gap */
    .title-container {
        flex-wrap: wrap;
    }
}

.tab-choice-container {
    margin-top: 1rem;
}

.tab-choice-container ul {
    display: flex;
    justify-content: space-evenly;
}

.tab-button {
    padding: 1rem 2rem 0rem;
    border: none;
    background-color: transparent;
    color: #aaa;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.1s ease-in-out;
}

.tab-button::after {
    content: '';
    display: block;
    margin-top: 0.1rem;
    width: 100%;
    height: 0.1rem;
    background-color: #aaa;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
}

.tab-button:hover {
    color: #ccc;
    cursor: pointer;
    transform: scale(1.05);
}

.tab-button:hover::after {
    transform: scaleX(1);
}

.tab-button-active {
    color: #c90000;
}

.tab-button-active:hover {
    color: #c90000;
    transform: scale(1.05);
}

.tab-button-active::after {
    transform: scaleX(1);
    background-color: #c90000;
}

.tab-container {
    display: none;
}

.tab-container-active {
    display: block;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .tab-button {
        padding: 0.5rem 1rem 0;
        font-size: 0.8rem;
    }
}

